@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This application will allow you to choose pumping equipment and related products for water supply.</p>
    <p><a href="https://gf-expert.ru/">Addresses of our retail stores and partners</a> </p>
</div>
